include .coveragerc
include .travis.yml
include LICENSE
include MANIFEST.in
include README.rst
include mopidy_rstation/ext.conf
include mopidy_rstation/icomoon.ttf
include tox.ini

recursive-include tests *.py

prune docs
prune mopidy_rstation/fonts
