# /lib/systemd/system

[Unit]
Description=InfoScreen Service
After=multi-user.target
After=mopidy.service

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/RPi-InfoScreen-Kivy/main.py > /home/pi/InfoScreen.log 2>&1

[Install]
WantedBy=multi-user.target
