# /lib/systemd/system
# systemctl daemon-reload - do this after change in this file

[Unit]
Description=Mopidy music server
After=avahi-daemon.service
After=dbus.service
After=network.target
After=nss-lookup.target
After=pulseaudio.service
After=remote-fs.target
After=sound.target

[Service]
Environment=REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt
User=mopidy
ExecStart=/usr/local/bin/mopidy --config /etc/mopidy/mopidy.conf --save-debug-log

[Install]
WantedBy=multi-user.target
